<div class="container text-center" id="notificationCard">
    <div class="row h-100 justify-content-center align-items-center" id="shining">
        <div class="col-md-12">
            <p class="texts">Ladies<img id="lwLogo" src="assets/logo.png" class="img-fluid">World
                <span><a routerLink="/AdsTamil" id="ChangeToTamil" routerLinkActive="active">தமிழ் <i class="fa fa-hand-o-right"></i></a></span></p>
            <p class="subTitle">Start your career from here and make your fashion dreams from your home</p>
            <p class="mt-4" id="Classcontent">We are conducting Sewing will be taught in 10 Days</p>
            <p class="submitDetails">Please submit your details. . . <a routerLink="/CustomerDetails" style="cursor: pointer;"><b>Click Here</b> &nbsp;<i class="fa fa-hand-o-right"></i></a></p>
        </div>
    </div>
</div>