<div class="container text-center" id="notificationCard">
    <div class="row h-100 justify-content-center align-items-center" id="shining">
        <div class="col-md-12">
            <p class="texts">லேடீஸ்<img id="lwLogo" src="assets/logo.png" class="img-fluid">வேல்டு
                <span><a routerLink="/AdsEnglish" id="ChangeToEnglish" routerLinkActive="active">English <i class="fa fa-hand-o-right"></i></a></span></p>
            <p class="subTitle">Start your career from here and make your fashion dreams from your home</p>
            <p class="mt-4" id="Classcontent">10 நாட்களில் தையல் கற்பிக்கப்படும்</p>
            <p class="submitDetails">உங்கள் விவரங்களை இங்கே சமர்ப்பிக்கவும். . . <a routerLink="/CustomerDetails" style="cursor: pointer;"><b>Click Here</b> &nbsp;<i class="fa fa-hand-o-right"></i></a></p>
        </div>
    </div>
</div>